{% extends 'ACInst3Bundle::admin_layout.html.twig' %}

{% block content_in %}
<h1>Format</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Media</th>
            <td>{{ entity.media.title|title }}</td>
        </tr>
        <tr>
            <th>Format_type</th>
            <td>{{ entity.formattype }}</td>
        </tr>
        <tr>
            <th>Media_type</th>
            <td>{{ entity.mediatype }}</td>
        </tr>
        <tr>
            <th>Media_params</th>
            <td>{{ entity.mediaparams }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_format') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_format_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_format_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
